<section class="adv" id="advertisement">
  <div class="container">
    <div class="container-adv">
    <h2 class="visually-hidden">Advertisement</h2>
    <div class="adv-content">
      <p class="adv-description">
        Choose
        <span class="adv-highlight">your story</span>
        , making every moment unique. Time is your style, and we reveal it.
      </p>
      <div class="adv-btn-link"><a href="#contact-us" class="adv-link">Contact us</a></div>
      </div>
  </div>
  </div>
</section>
