<section class="catalog" id="catalog">
    <div class="container">
        <h2 class="title-catalog">Catalog</h2>
        <ul class="list-catalog">
            <li class="item-catalog">
                <div class="box-catalog"><picture>
                        <source media="(min-width: 1280px)"
                          srcset="/img/catalog.img/1img_des@x1.webp 1x, /img/catalog.img/1img_des@x2.webp 2x" />
                        <source media="(min-width: 768px)"
                          srcset="/img/catalog.img/1img_tab@x1.webp 1x, /img/catalog.img/1img_tab@x2.webp 2x" />
                        <source media="(max-width: 767px)"
                          srcset="/img/catalog.img/1img_mob@x1.webp 1x, /img/catalog.img/1img_mob@x2.webp 2x" />
                          <img src="/img/catalog.img/1img_mob@x1.webp" alt="Garmin Fenix 7X Pro Sapphire Solar" />
                      </picture></div>
                    
                        <h3 class="subtitle-catalog">Garmin Fenix 7X Pro</h3>
                    <p class="text-catalog">€500</p>
              
            </li>
            <li class="item-catalog">
                <div class="box-catalog"><picture>
                        <source media="(min-width: 1280px)"
                          srcset="/img/catalog.img/2img_des@x1.webp 1x, /img/catalog.img/2img_des@x2.webp 2x" />
                        <source media="(min-width: 768px)"
                          srcset="/img/catalog.img/2img_tab@x1.webp 1x, /img/catalog.img/2img_tab@x2.webp 2x" />
                        <source media="(max-width: 767px)"
                          srcset="/img/catalog.img/2img_mob@x1.webp 1x, /img/catalog.img/2img_mob@x2.webp 2x" />
                          <img src="/img/catalog.img/2img_mob@x1.webp" alt="Garmin Marq Athlete" />
                      </picture></div>
                    
                        <h3 class="subtitle-catalog">Garmin Marq Athlete</h3>
                    <p class="text-catalog">€450</p>
                
            </li>
            <li class="item-catalog">
              <div class="box-catalog"><picture>
                        <source media="(min-width: 1280px)"
                          srcset="/img/catalog.img/3img_des@x1.webp 1x, /img/catalog.img/3img_des@x2.webp 2x" />
                        <source media="(min-width: 768px)"
                          srcset="/img/catalog.img/3img_tab@x1.webp 1x, /img/catalog.img/3img_tab@x2.webp 2x" />
                        <source media="(max-width: 767px)"
                          srcset="/img/catalog.img/3img_mob@x1.webp 1x, /img/catalog.img/3img_mob@x2.webp 2x" />
                          <img src="/img/catalog.img/3img_mob@x1.webp" alt="Garmin Descent MK1" />
                      </picture></div>
                
                        <h3 class="subtitle-catalog">Garmin Descent MK1</h3>
                    <p class="text-catalog">€680</p>
                
            </li>
            <li class="item-catalog">
              <div class="box-catalog"> <picture>
                        <source media="(min-width: 1280px)"
                          srcset="/img/catalog.img/4img_des@x1.webp 1x, /img/catalog.img/4img_des@x2.webp 2x" />
                        <source media="(min-width: 768px)"
                          srcset="/img/catalog.img/4img_tab@x1.webp 1x, /img/catalog.img/4img_tab@x2.webp 2x" />
                        <source media="(max-width: 767px)"
                          srcset="/img/catalog.img/4img_mob@x1.webp 1x, /img/catalog.img/4img_mob@x2.webp 2x" />
                          <img src="/img/catalog.img/4img_mob@x1.webp" alt="Garmin D2 Delta PX" />
                      </picture>
                      </div>
                
                        <h3 class="subtitle-catalog">Garmin D2 Delta PX</h3>
                    <p class="text-catalog">€380</p>
               
            </li>
            <li class="item-catalog invisible-item">
              <div class="box-catalog"><picture>
                        <source media="(min-width: 1280px)"
                          srcset="/img/catalog.img/5img_des@x1.webp 1x, /img/catalog.img/5img_des@x2.webp 2x" />
                        <source media="(min-width: 768px)"
                          srcset="/img/catalog.img/5img_tab@x1.webp 1x, /img/catalog.img/5img_tab@x2.webp 2x" />
                        
                          <img src="/img/catalog.img/5img_tab@x1.webp" alt="Garmin Fenix 6 Pro Solar" />
                      </picture></div>
                
                        <h3 class="subtitle-catalog">Garmin Fenix 6 Pro Solar</h3>
                    <p class="text-catalog">€400</p>
                
            </li>
            <li class="item-catalog invisible-item">
              <div class="box-catalog"> <picture>
                        <source media="(min-width: 1280px)"
                          srcset="/img/catalog.img/6img_des@x1.webp 1x, /img/catalog.img/6img_des@x2.webp 2x" />
                        <source media="(min-width: 768px)"
                          srcset="/img/catalog.img/6img_tab@x1.webp 1x, /img/catalog.img/6img_tab@x2.webp 2x" />
                       
                          <img src="/img/catalog.img/6img_tab@x1.webp" alt="Tube Watch S42 Date Steel With Black Case" />
                      </picture></div>
                
                        <h3 class="subtitle-catalog">Tube Watch S42 Date Steel</h3>
                    <p class="text-catalog">€395</p>
                
            </li>
        </ul>
        <button class="btn-catalog" type="button">Show more</button>
    </div>
</section>