<footer class="footer" >
  <div class="container footer-container">
    <nav class="footer-nav-page">
          <div class="footer-list">
            <a class="footer-logo">watchcharm</a>
            <p class="footer-text-page">
              Have the time of your life with our watches: where high-class
              craftsmanship meets impeccable design
            </p>
            <address class="footer-addr">
              <a class="footer-addr-link" href="+380684439426">+380 (68) 443-94-26</a>
            </address>
          </div>
          <div>
            <ul class="footer-nav-list">
              <li class="footer-nav-item-link">
                <p class="footer-nav" href="./">Home</p>
              </li>
              <li class="footer-nav-item-link">
                <p class="footer-nav" href="About Us">About Us</p>
              </li>
              <li class="footer-nav-item-link">
                <p class="footer-nav" href="">Catalog</p>
              </li>
              <li class="footer-nav-item-link">
                <p class="footer-nav" href="">Sale</p>
              </li>
              <li class="footer-nav-item-link">
                <p class="footer-nav" href="">Reviews</p>
              </li>
              <li class="footer-nav-item-link">
                <p class="footer-nav" href="">Contact Us</p>
              </li>
              </ul>
              <a class="footer-map-addr">1678 S. Pioneer Road Salt Lake City UT 84104</a>
                      </nav>
                      <div class="footer-end">
                        <ul>
                                    </li>
                                    <li class="footer-status">
                                      <a class="footer-licenzi">©2023 The Watch Spot. All rights reserved.</a>
                                    </li>
                                    <li class="footer-status">
                                      <a class="footer-licenzi">Terms of Service</a>
                                    </li>
                                    <li class="footer-status"><a class="footer-licenzi">Privacy Policy</a></li>
                        </ul>
                      </div>
          </div>
  </div>
</footer>
