<header class="top-line">
    <div class="container header-cont">
        <a class="logo" href="./index.html">watchcharm</a>
        <nav class="navbar">
            <ul class="navbar-container">
                <li class="navbar-menu">
                    <a class="menu-nav current" href="./index.html">Home</a>
                </li>
                <li class="navbar-menu">
                    <a class="menu-nav" href="#about-us">About Us</a>
                </li>
                <li class="navbar-menu">
                    <a class="menu-nav" href="#catalog">Catalog</a>
                </li>
                <li class="navbar-menu">
                    <a class="menu-nav" href="#sale">Sale</a>
                </li>
                <li class="navbar-menu">
                    <a class="menu-nav" href="#reviews">Reviews</a>
                </li>
                <li class="navbar-menu">
                    <a class="menu-nav" href="#contact-us">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="social-logo-info">
            <ul class="logo-list">
                <li>
                    <a href="https://www.facebook.com/goITclub/" class="contact-link" target="_blank"
                        rel="nofollow noopener"><svg class="icon-social" width="16" height="16">
                            <use href="/img/sprite.svg#icon-facebook"></use>
                        </svg></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/goitclub/" class="contact-link" target="_blank"
                        rel="nofollow noopener"><svg class="icon-social" width="16" height="16">
                            <use href="/img/sprite.svg#icon-instagram"></use>
                        </svg></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/c/GoIT" class="contact-link" target="_blank"
                        rel="nofollow noopener"><svg class="icon-social" width="16" height="16">
                            <use href="/img/sprite.svg#icon-youtube"></use>
                        </svg></a>
                </li>
            </ul>
        </div>
        <button type="button" class="button-menu"><svg class="icon-menu" width="34" height="34">
                <use href="./img/sprite.svg#icon-button"></use>
            </svg></button>
    </div>
    <div class="header-menu">
        <div class="tab-menu">
            <div class="container tab-menu-container">
            <button type="button" class="button-cross-page"><svg class="tab-menu-icon-close" width="20" height="20">
                <use href="/img/sprite.svg#icon-x"></use>
            </svg></button>
                <nav class="tab-menu-nav">
                    <ul class="menu-nav-list">
                        <li class="menu-nav-item">
                            <a class="menu-nav-link color current" href="./index.html">Home</a>
                        </li>
                        <li class="menu-nav-item">
                            <a class="menu-nav-link" href="#about-us">About Us</a>
                        </li>
                        <li class="menu-nav-item">
                            <a class="menu-nav-link" href="#catalog">Catalog</a>
                        </li>
                        <li class="menu-nav-item">
                            <a class="menu-nav-link" href="#sale">Sale</a>
                        </li>
                        <li class="menu-nav-item">
                            <a class="menu-nav-link" href="#reviews">Reviews</a>
                        </li>
                        <li class="menu-nav-item">
                            <a class="menu-nav-link" href="#contact-us">Contact Us</a>
                        </li>
                    </ul>
                </nav>
                <ul class="menu-icon-list">
                    <li class="menu-icon-item">
                        <a href="https://www.facebook.com/goITclub/" class="menu-icon-nav" target="_blank"
                            rel="nofollow noopener">
                            <svg class="tab-menu-icon" width="20" height="20">
                                <use href="/img/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="menu-icon-item">
                        <a href="https://www.instagram.com/goitclub/" class="menu-icon-nav" target="_blank"
                            rel="nofollow noopener"><svg class="tab-menu-icon" width="20" height="20">
                                <use href="/img/sprite.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="menu-icon-item">
                        <a href="https://www.youtube.com/c/GoIT" class="menu-icon-nav" target="_blank"
                            rel="nofollow noopener"><svg class="tab-menu-icon" width="20" height="20">
                                <use href="/img/sprite.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>