<header class="top-line">
  <div class="container header-cont">
    <a class="logo" href="./index.html">watchcharm</a>
    <nav class="navbar">
       <ul class="navbar-container">
        <li class="navbar-menu">
          <a class="menu-nav current" href="./index.html">Home</a>
        </li>
        <li class="navbar-menu">
          <a class="menu-nav" href="#about-us">About Us</a>
        </li>
        <li class="navbar-menu">
          <a class="menu-nav" href="#catalog">Catalog</a>
        </li>
        <li class="navbar-menu">
          <a class="menu-nav" href="#sale">Sale</a>
        </li>
        <li class="navbar-menu">
          <a class="menu-nav" href="#reviews">Reviews</a>
        </li>
        <li class="navbar-menu">
          <a class="menu-nav" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div class="social-logo-info">
      <ul class="logo-list">
        <li>
          <a href="#" class="contact-link"><svg class="icon-social" width="16" height="16">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg></a>
        </li>
        <li>
          <a href="#" class="contact-link"><svg class="icon-social" width="16" height="16">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg></a>
        </li>
        <li>
          <a href="#" class="contact-link"><svg class="icon-social" width="16" height="16">
              <use href="/img/sprite.svg#icon-youtube"></use>
            </svg></a>
        </li>
      </ul>
    </div>
     <button type="button" class="button-menu"><svg class="icon-menu" width="15" height="34">
        <use href="./img/sprite.svg#icon-button"></use>
      </svg> 
  </div>
</header> 