<header class="top-line">
  <div class="container header-cont">
    <nav class="navbar">
      <a class="logo" href="./index.html">watchcharm</a>
      <ul class="navbar-container">
        <li class="navbar-menu">
          <a class="menu-nav current " href="./index.html">Studio</a>
        </li>
        <li class="navbar-menu">
          <a class="menu-nav" href="#">Home</a>
        </li>
        <li class="navbar-menu">
          <a class="menu-nav" href="#">About Us</a>
        </li>
        <li class="navbar-menu">
          <a class="menu-nav" href="#">Catalog</a>
        </li>
        <li class="navbar-menu">
          <a class="menu-nav" href="#">Sale</a>
        </li>
        <li class="navbar-menu">
          <a class="menu-nav" href="#">Rewiews</a>
        </li>
        <li class="navbar-menu">
          <a class="menu-nav" href="#">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div class="social-logo-info">
      <ul class="logo-list">
        <li>
          <a href="#" class="contact-link"><svg class="icon-menu" width="36" height="36">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg></a>
        </li>
        <li>
          <a href="#" class="contact-link"><svg class="icon-menu" width="36" height="36">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg></a>
        </li>
        <li>
          <a href="#" class="contact-link"><svg class="icon-menu" width="36" height="36">
              <use href="./images/icons.svg#icon-youtube"></use>
            </svg></a>
        </li>
      </ul>
    </div>
    <button type="button" class="button-menu"><svg class="icon-menu" width="34" height="34">
        <use href="./images/icons.svg#icon-button"></use>
      </svg>
  </div>
</header> 