<section class="hero-section">
  <div class="container">
    <div class="big-div">
      <div class="hero-title-dscr">
        <h1 class="hero-title">
          Welcome to our <span class="hero-part">collection</span> of premium
          watches
        </h1>
        <p class="hero-dscr">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <div class="hero-photo-link">
        <ul class="hero-list">
          <li class="hero-item amanda">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img-hero/people-desktop/amanda-lowery-desktop-1x.webp  1x,
                  /img-hero/people-desktop/amanda-lowery-desktop-@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img-hero/people-tablet/amanda-lowery-tablet-1x.webp  1x,
                  /img-hero/people-tablet/amanda-lowery-tablet-@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img-hero/people-mobile/amanda-lowery-mobile-1x.png  1x,
                  /img-hero/people-mobile/amanda-lowery-mobile-@2x.png 2x
                "
              />
              <img
                class="hero-photo-list amanda"
                src="/img-hero/people-desktop/amanda-lowery-desktop-1x.webp"
                alt="hero-amanda-lowery"
              />
            </picture>
          </li>
          <li class="hero-item ethan">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img-hero/people-desktop/ethan-valdez-desktop-1x.webp  1x,
                  /img-hero/people-desktop/ethan-valdez-desktop-@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img-hero/people-tablet/ethan-valdez-tablet-1x.webp  1x,
                  /img-hero/people-tablet/ethan-valdez-tablet-@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img-hero/people-mobile/ethan-valdez-mobile-1x.png  1x,
                  /img-hero/people-mobile/ethan-valdez-mobile-@2x.png 2x
                "
              />
              <img
                class="hero-photo-list ethan"
                src="/img-hero/people-desktop/ethan-valdez-desktop-1x.webp"
                alt="hero-ethan-valdez"
              />
            </picture>
          </li>
          <li class="hero-item fleur">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  /img-hero/people-desktop/fleur-cook-desktop-1x.webp  1x,
                  /img-hero/people-desktop/fleur-cook-desktop-@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img-hero/people-tablet/fleur-cook-tablet-1x.webp  1x,
                  /img-hero/people-tablet/fleur-cook-tablet-@2x.webp 2x
                "
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  /img-hero/people-mobile/fleur-cook-mobile-1x.png  1x,
                  /img-hero/people-mobile/fleur-cook-mobile-@2x.png 2x
                "
              />
              <img
                class="hero-photo-list fleur"
                src="/img-hero/people-desktop/fleur-cook-desktop-1x.webp"
                alt="hero-fleur-cook"
              />
            </picture>
          </li>
        </ul>

        <a href="#footer" class="hero-link">Scroll down</a>
      </div>
    </div>

    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="
          /img/hero/clock-desktop-1x.jpg 1x,
          /img/hero/clock-desktop-1x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/hero/clock-tablet-1x.jpg  1x,
          /img/hero/clock-tablet-@2x.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /img/hero/clock-mobile-1x.jpg  1x,
          /img/hero/clock-mobile-@2x.jpg 2x
        "
      />
      <img
        class="hero-photo"
        src="/img/hero/clock-desktop-1x.jpg"
        alt="hero-clock"
      />
    </picture>
  </div>
</section>
