<section class="header-menu">
  <div class="tab-menu">
    <div class="container tab-menu-container">
      <button class="menu-btn" type="button">
        <svg class="tab-menu-btn" width="34" height="34">
          <use href="/img/sprite.svg#icon-close-btn"></use>
        </svg>
      </button>
      <nav class="tab-menu-nav">
        <ul class="menu-nav-list">
          <li class="menu-nav-item">
            <a class="menu-nav-link color current" href="./index.html">Home</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="#">About Us</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="#">Catalog</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="#">Sale</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="#">Reviews</a>
          </li>
          <li class="menu-nav-item">
            <a class="menu-nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </nav>
      <ul class="menu-icon-list">
        <li class="menu-icon-item">
          <a href="https://www.facebook.com/goITclub/" class="menu-icon-nav">
            <svg class="tab-menu-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="menu-icon-item">
          <a href="https://www.instagram.com/goitclub/" class="menu-icon-nav"
            ><svg class="tab-menu-icon" width="20" height="20">
              <use
                href="/img/sprite.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="menu-icon-item">
          <a href="https://www.youtube.com/c/GoIT" class="menu-icon-nav"
            ><svg class="tab-menu-icon" width="20" height="20">
              <use href="/img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
