<section class="reviews" id="reviews">
  <div class="container reviews-cont">
    
    <h2 class="reviews-title">Reviews</h2>
    <ul class="review-list">
      <li class="review-list-item john">
        <img
          src="/img/reviews/john.webp"
          srcset="/img/reviews/john@2x.webp 2x"
          alt="John"
          width="56"
          height="56"
          class="review-item-image"
        />
        <div class="review-card">
          <h3 class="review-item-heading">John Wax</h3>
          <p class="review-item-text">
            Buying a watch from was the best choice for me. The design is
            perfectly combined with high quality materials. The strap fits
            nicely on the hand, and the mechanism works flawlessly.
          </p>
        </div>
      </li>
      <li class="review-list-item victoria">
        <img
          src="/img/reviews/victoria.webp"
          srcset="/img/reviews/victoria@2x.webp 2x"
          alt="Viktoria"
          width="56"
          height="56"
          class="review-item-image"
        />
        <div class="review-card">
          <h3 class="review-item-heading">Victoria Romashenko</h3>
          <p class="review-item-text">
            Can't take my eyes off my watch from. Every time I put it on, it is
            admired by those around me. The build quality and attention to
            detail make it a real gem among my accessories.
          </p>
        </div>
      </li>
      <li class="review-list-item anastasia">
        <img
          src="/img/reviews/anastasia.webp"
          srcset="/img/reviews/anastasia@2x.webp 2x"
          alt="Anastasia"
          width="56"
          height="56"
          class="review-item-image"
        />
        <div class="review-card">
          <h3 class="review-item-heading">Anastasia Trachuk</h3>
          <p class="review-item-text">
            My watch from is a real masterpiece. Every detail impresses with the
            high quality of execution. Special features like [specify features]
            make it an indispensable companion in my daily life.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
