<section class="sale">
    <div class="container">
        <div class="sale-container">
            <h1 class="sale-title">Sale</h1>
    
            <div class="image-gallery">
                <ul class="image-gallery-list">
                    <li class="image-gallery-list-item"><img src="./img/sale/1sale-img.webp" width="96" height="100" alt="Thumbnail 1"></li>
                    <li class="image-gallery-list-item"><img src="./img/sale/2sale-img.webp" width="96" height="100" alt="Thumbnail 2"></li>
                    <li class="image-gallery-list-item"><img src="./img/sale/3sale-img.webp" width="96" height="100" alt="Thumbnail 3"></li>
                    <li class="image-gallery-list-item"><img src="./img/sale/4sale-img.webp" width="96" height="100" alt="Thumbnail 4"></li>
                </ul>
    
            <div class="main-image">
                <img src="./img/sale/sale-main-img.webp" alt="MARQ Commander Watch">
            </div>
            </div>
    
            <div class="product-info">
                <h2 class="sale-product-info-title">MARQ® Commander (Gen 2) - Carbon Edition</h2>
                <p class="sale-product-tag">Product tag: 706587</p>
                <div class="price-container">
                    <div class="new-price-container"><p class="new-price">€1500</p></div><div class="old-price-container"><p class="old-price">€3000</p></div>
                </div>
                <div class="sale-prdct-info-descr-cont"><p class="sale-prdct-info-descr">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that takes materials and features to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a precise AMOLED touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.</p>
                </div>
                <div class="sale-info-tags">
                    <ul class="sale-info-tags-list">
                        <li class="sale-info-tags-list-itm one"><p class="sale-tag-txt">Fused carbon fiber</p></li>
                        <li class="sale-info-tags-list-itm two"><p class="sale-tag-txt">Grade-5 Titanuim</p></li>
                        <li class="sale-info-tags-list-itm three"><p class="sale-tag-txt">Athlete</p></li>
                        <li class="sale-info-tags-list-itm four"><p class="sale-tag-txt">Golfer</p></li>
                        <li class="sale-info-tags-list-itm five"><p class="sale-tag-txt">Commander</p></li>
                        <li class="sale-info-tags-list-itm six"><p class="sale-tag-txt">Adventurer</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>