<section class="header">
  <div class="tab-menu is-open">
    <div class="container tab-menu-container">
      <button class="tab-menu-close">
        <svg class="tab-menu-btn" width="" height="">
          <use href=""></use>
        </svg>
      </button>
      <nav class="tab-menu-nav">
        <ul>
          <li>Home</li>
          <li>About Us</li>
          <li>Catalog</li>
          <li>Sale</li>
          <li>Reviews</li>
          <li>Contact Us</li>
        </ul>
      </nav>
      <ul>
        <li>
          <svg class="tab-menu-icon" width="20" height="20">
            <use href=""></use>
          </svg>
        </li>
        <li>
          <svg class="tab-menu-icon" width="20" height="20">
            <use href=""></use>
          </svg>
        </li>
        <li>
          <svg class="tab-menu-icon" width="20" height="20">
            <use href=""></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
