/* about us */
.about-us {
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-us-container {
  background: #f3f3f3;
  border-radius: 30px;
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-us-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 28px;

}

.about-us-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;

  flex-direction: column;

}

.about-us-item {
  max-width: 100%;
  max-height: 100%;
}

.about-us-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.about-us-btn {
  margin-top: 40px;
  padding: 15px 37px;
  border-radius: 16px;
  display: inline-block;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-us-btn:hover,
.about-us-btn:focus {
  background-color: #1f3cd4;
}

.about-us-photo {
  margin-top: 20px;
  width: 100%;
  border-radius: 55px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-us-photo:hover,
.about-us-photo:focus {
  border: 3px solid #111111;

}

@media screen and (min-width: 768px) {
  .about-us {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .about-us-container {
    border-radius: 50px;
  }

  .about-us-title {
    font-size: 48px;
    line-height: 0.91;
    margin-bottom: 40px;
    padding-left: 60px;
    padding-top: 80px;
  }

  .about-us-list {
    padding-left: 60px;
    padding-right: 60px;
  }

  .about-us-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .about-us-btn {
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: 60px;
  }

  .about-us-photo {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .items-about-container {
    display: flex;
    align-items: flex-start;
  }

  .about-us-container {
    width: 580px;
    height: 532px;
  }

  .about-us-btn {
    margin-top: 40px;
  }

  .about-us-photo {
    margin-left: 40px;
    margin-top: 0;
    width: 530px;
    height: 532px;
  }
}