.adv {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container-adv {
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom,
      rgba(12, 12, 12, 0.9),
      rgba(12, 12, 12, 0.9)),
      url(../img/advert/advert_bg@1x.webp);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
 
}
@media screen and (max-width: 767) and (min-resolution: 192dpi) {
.container-adv {
    background-image:linear-gradient(to bottom,
        rgba(12, 12, 12, 0.9),
        rgba(12, 12, 12, 0.9)),

      url(../img/advert/advert_bg@2x.webp);
  }}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.adv-content {
  padding: 60px 28px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media (min-width: 768px) {.adv-content {
    gap: 32px;
  }}
    @media (min-width: 1280px) {
      .adv-content {
        flex-direction: row;
        gap: 140px;
      }
    }
.adv-description {  
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;


}
.adv-btn-link {
min-width: 160px;
  max-height: 48px;
}
.adv-highlight {
  color: rgba(251, 251, 251, 0.5);
}
.adv-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  display: inline-block;
  color: #fbfbfb;
  text-decoration: none;
  padding: 15px 44px;
  border-radius: 20px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  transition: background-color 0.3s, color 0.3s;
}

.adv-link:hover {
  background-color: #fbfbfb;
  color: #0c0c0c;
}

/* tablet */
@media (min-width: 768px) {
  .adv {
    padding-top: 40px;
    padding-bottom: 40px;
  }

 
  .adv-content {
    padding: 80px 64px;
  }

  .adv-description {
    font-size: 48px;
  }
}