.adv {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container-adv {
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(/src/img/advert/advert_bg@1x.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  
}
@media screen and (max-width: 767) and (min-resolution: 192dpi) {
.container-adv {
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)),
      url(/src/img/advert/advert_bg@2x.jpg);
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.adv-content {
  padding: 60px 28px;
}

.adv-description {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.adv-highlight {
  color: rgba(251, 251, 251, 0.5);
}
.adv-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  display: inline-block;
  text-decoration: none;
  padding: 15px 44px;
  border-radius: 20px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  transition: background-color 0.3s, color 0.3s;
}

.adv-link:hover {
  background-color: #fbfbfb;
  color: #0c0c0c;
}
/* Retina Display Support for Mobile (х2) */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .container-adv {
    background-image: url('./images/advert/bg-mob@x2.jpg');
  }
}
/* tablet */
@media (min-width: 768px) {
  .adv {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container-adv {
    background-image: url('./images/advert/bg-tablet@x1.jpg');
  }
  .adv-content {
    padding: 80px 64px;
  }

  .adv-description {
    font-size: 48px;
  }
  /*Retina Screen Support for Tablets (x2) */
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 768px) and (min-resolution: 192dpi) {
    .container-adv {
      background-image: url('./images/advert/bg-tablet@x2.jpg');
    }
  }
}
/* desctop */
@media (min-width: 1280px) {
  .container-adv {
    background-image: url('./images/advert/bg-desc@x1.jpg');
  }
  .adv-content {
    padding: 80px;
  }

  @media (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
    (min-width: 1280px) and (min-resolution: 192dpi) {
    .container-adv {
      background-image: url('./images/advert/bg-desc@x2.jpg');
    }
  }
}
