:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
   display: flex;
  flex-direction: column; 
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: "Gilroy", sans-serif ;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
html {
  scroll-behavior: smooth;

}
button {
  font-family: inherit;
}

section,
footer,
header {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {

  section,
  footer,
  header {
    max-width: 768px;
    padding: 0 32px;
  }
}

    @media screen and (min-width: 1280px) {
  
      section,
      footer,
      header {
        max-width: 1280px;
        padding: 0 65px;
      }
      footer{
        padding: 0;
        
      }
    }
