
  .catalog {
    padding-top: 30px;
    padding-bottom: 60px;
    }
  
    @media screen and (min-width: 768px){
      .catalog {
        padding-top: 40px;
        padding-bottom: 80px;
        }
     
    }
    
    @media screen and (min-width: 1280px){
      .catalog {
        
          padding-top: 50px;
          padding-bottom: 100px;
          }
      
    }
  
    .title-catalog{
      font-weight: 600;
      font-size: 32px;
      line-height: 1;
      letter-spacing: -0.02em;
      color: #0c0c0c;
      margin-bottom: 24px;
      }
      
      @media screen and (min-width: 768px) {
      .title-catalog{
        font-size: 48px;
        line-height: 0.91;
        margin-bottom: 40px;
      }
      }
    
  .list-catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    }
    @media screen and (min-width: 768px){
      .list-catalog{
        gap: 32px 16px;
        
      }
      }
      
      @media screen and (min-width: 1280px){
      .list-catalog{
         gap: 32px 23px ;
      }
      }
      
      .item-catalog{
        border: 1px solid rgba(12, 12, 12, 0.05);
        border-radius: 30px;
        
        background-color: #f3f3f3;
        
        padding: 24px 28px;
       margin: 0 auto;
       width: 100%;
        }

        

        @media screen and (min-width: 768px) and (max-width: 1280px){
          .item-catalog{
            padding: 24px 32px;
          
            width: calc((100% - 16px) / 2)
          }
          } 

          @media screen and (min-width: 1280px){
            .item-catalog{
            width: calc((100% - 46px) / 3)}
            }
            
  
        @media screen and (max-width: 767.97px){
          .invisible-item{
            display: none;
          }
          }
         
.box-catalog {
display: flex;
justify-content: center;

} 
  
      .subtitle-catalog{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        margin-bottom: 8px;
        }
        
        @media screen and (min-width: 768px){
        .subtitle-catalog{
        font-size: 20px;
        line-height: 1;
        max-width: 304px;
        
        }
        }
        
        
        .text-catalog{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.28571;
        letter-spacing: -0.02em;
        color: rgba(12, 12, 12, 0.5);
        }
  
      .btn-catalog{
        display: block;
        min-width: 160px;
        height: 48px;
        border-radius: 16px;
        border: 0;
        background-color:  #3350e9;
        
        font-weight: 500;
        font-size: 14px;
        line-height: 1.28571;
        text-align: center;
        color: #fbfbfb;
        
        padding: 15px 0;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        
  
        }
        
        .btn-catalog:hover,
        .btn-catalog:focus {
         background-color: #1f3cd4;
                 } 
        
        
        @media screen and (min-width: 768px){
        .btn-catalog{
          display: none;
        }
      }