/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 375px;
  
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  section,
  footer,
  header {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1150px;
    padding: 0 65px;
  }
}
