
.contact-us-img  {
  display: block;
  max-width: 100%;
  height: auto;
}

.contact-us-button {
  border: none;
  font-family: inherit;
}
.contact-us {
  
  padding-top: 30px;
  padding-bottom: 60px;
}
.contact-us-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
.block-contact {
  display: flex;
  flex-wrap: wrap;
}
.block-input-container {
  padding: 48px 28px;
  border-radius: 30px;
  background: #f3f3f3;
  margin-bottom: 20px;
}
.leave-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 32px;
}
.input-container {
  position: relative;
  width: 100%;
}
.form-input {
  outline: none;
  width: 100%;
  height: 42px;
  padding: 0 20px;
  background: var(--white);
  color: var(--black);
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  transition: 250ms ease-in-out;
}
.form-input:focus,
.form-text:focus {
  border: 1px solid var(--accent);
}
.form-input:focus + .form-label,
.form-text:focus + .form-label {
  top: -8px;
  color: var(--accent);
}
.form-label {
  top: 12px;
  left: 20px;
  position: absolute;
  color: var(--main);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
  padding: 0 5px;
  transition: 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  background: var(--cards);
}
.form-text {
  resize: none;
  height: 104px;
  outline: none;
  width: 100%;
  padding: 20px 20px;
  background: transparent;
  color: var(--main);
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  transition: 250ms ease-in-out;
}
.send-btn {
  font-family: inherit;
  border-radius: 16px;
  border: none;
  padding: 12px 50px;
  min-width: 134px;
  height: 42px;
  background-color: #3350e9;
  
  border: 0;


 
font-size: 14px;
line-height: 1.3;
text-align: center;
color: #fbfbfb;
}

.send-btn:hover,
.send-btn:focus {
  background-color: #1f3cd4;}

.contact-dscr {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}
.block-img img {
  border-radius: 30px;
  object-fit: cover;
  height: 512px;
}
.form-input:focus::placeholder {
  opacity: 1;
}
.form-input::placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
@media screen and (min-width: 768px) {

  .contact-us {
  
    padding-top: 40px;
    padding-bottom: 80px;
  }
  
  .contact-us-title {
    font-size: 48px;
  }
  .contact-dscr {
    font-size: 16px;
    margin-bottom: 32px;
  }
  .block-input-container {
    padding: 50px 122px;
  }
  .send-btn {
    padding: 17px 63px;
    width: 160px;
    height: 52px;
  }
    .block-input-container {
      margin-bottom: 40px;
    }
}
@media screen and (min-width: 1280px) {

  .contact-us {
  
    padding-top: 50px;
    padding-bottom: 100px;
  }
 
  .block-contact {
    flex-wrap: nowrap;
  }

  .block-input-container {
    padding: 50px 60px;
    margin-bottom: 0;
    margin-right: 40px;
  }
  .block-img img {
    height: 556px;
  }
  .send-btn {
    transition: background 250ms ease-in-out;
  }
.block-input-container {
  margin-bottom: 40px;}
  }

