.top-line {
  padding-top: 20px;
  padding-bottom: 20px;

}

.header-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: none;
}

.social-logo-info {
  display: none
}

@media screen and (min-width: 1280px) {
  .navbar-container {
    display: flex;
    flex-direction: row;
  }

}

@media screen and (min-width: 1280px) {
  .social-logo-info {
    display: flex;
   
  }
}
.logo-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.logo{
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.41px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration: none;
}

.button-menu {

  display: flex;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 0;
  stroke: black;
}
@media screen and (min-width: 1280px){
  .button-menu {display: none;}
  
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 203px;
}
.navbar-container {
  gap: 40px;
}

.icon-menu {
  width: 36px;
  height: 36px;
  padding: 8px;
  border: 1px;
  border-color: black;
  border-radius: 8px;
   
}