.top-line {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.navbar-container {
  display: none;
}

.social-logo-info {
  display: none;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .navbar-container {
    display: flex; }
     .social-logo-info {
       display: flex;
     }  
}

.logo-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
align-items: center;
justify-content: center;
}
.logo{
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.26px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.button-menu {
  display: flex;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 0;
  stroke: black;
}
@media screen and (min-width: 1280px){
  .button-menu {display: none;}
  .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }
  .navbar-container {
  display: flex;
  gap: 40px;
  white-space: nowrap;
  }
}
.navbar-menu:hover,
.navbar-menu:focus {
  color: #3350e9;
}

.icon-social {
  width: 36px;
  height: 36px;
  padding: 8px;
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
   
.send-btn {
  transition: background 250ms ease-in-out;
}

.icon-social:hover,
.icon-social:focus {
  fill: rgba(51, 80, 233, 1);
}


 @media (min-width: 1280px) {
   .current {
     position: relative;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }
 }

 @media (min-width: 1280px) {
  .current:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    background-color: #404bbf;
    border-radius: 50%;
   
  }}
