/* ======= Hero ======== */

.hero-section {
  padding-top: 60px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

.hero-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  line-height: 95%;
  letter-spacing: -0.02em;
   
  color: #0c0c0c;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-weight: 600;
    font-size: 70px;
    line-height: 0.86;
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 72px;
    line-height: 0.875;
  }
}

.hero-part {
  color: #3350e9;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.hero-part:hover {
  color: #042cf5;
}

.hero-dscr {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

@media screen and (min-width: 768px) {
  .hero-section {
      padding-top: 80px;
      padding-bottom: 40px;
    }
  .hero-dscr {
    font-size: 16px;
    line-height: 1.25;
  }
}

.hero-photo {
  border-radius: 50px;
  background: rgba(12, 12, 12, 0.2);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-photo:hover,
.hero-photo:focus {
  border: 2px solid #111111;

}

.hero-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  
  .hero-link {
    font-size: 20px;
    line-height: 1;
  }
}

.hero-link:hover,
.hero-link :focus {
  color: #3350e9;
}

.hero-photo-list {
  stroke-width: 2px;
  stroke: #fbfbfb;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-photo-list:hover,
.hero-photo-list:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.hero-list {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.hero-photo-link {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .hero-photo-link {
    flex-direction: column;
    margin-bottom: 40px;
  }
}

.hero-title-dscr {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .hero-title-dscr {
    display: flex;
    flex-direction: column;
    max-width: 557px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

.hero-item {
  position: relative;
}

.hero-item.amanda {
  z-index: 9990;
}

.hero-item.ethan {
  right: 13px;
  z-index: 9991;
}

.hero-item.fleur {
  right: 23px;  
  z-index: 9992;
}

@media screen and (min-width: 768px) {
  .hero-item.fleur {
    left: 0px;
  }
}

@media screen and (min-width: 768px) {
  .hero-item.ethan {
    left: 15px;
  }
}

@media screen and (min-width: 768px) {
  .hero-item.amanda {
    left: 25px;
  }
}

@media screen and (min-width: 768px) {
  .big-div {
    display: flex;
    flex-direction: row;
    gap: 11px;
  }
}

@media screen and (min-width: 1280px) {
  .big-div {
    justify-content: space-between;
  }
    .hero-section {
      padding-top: 100px;
      padding-bottom: 50px;
    }
}