.tab-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.is-open {
  opacity: 1;
  pointer-events: auto;
}

.tab-menu-container {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 240px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #0C0C0C;
  background-image: linear-gradient(rgba(12, 12, 12, 0.92),
      rgba(12, 12, 12, 0.92)),
    url(../img/menu-bg-img/tab-men-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(12, 12, 12, 0.92),
        rgba(12, 12, 12, 0.92)),
      url(../img/menu-bg-img/tab-men-bg@2x.jpg);
  }
}

.menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  stroke: #FBFBFB;
  background-color: transparent;
  border: none;
  fill: white;
}

.tab-menu-nav {
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.menu-nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.menu-nav-item {
  margin-bottom: 24px;
}

.menu-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #FBFBFB;
}

.menu-icon-list {
  display: flex;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.menu-icon-item {
  width: 34px;
  height: 34px;
}

.menu-icon-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 34px;
  height: 34px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tab-menu-icon {
  fill: #FBFBFB;
}

.tab-menu-icon:hover,
.tab-menu-icon:focus {
  fill: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .tab-menu-container {
    padding-top: 310px;
    padding-bottom: 50px;
    width: 330px;
    height: 100%;
  }

  .menu-btn {
    top: 26px;
    right: 32px;
  }

  .menu-nav-item {
    margin-bottom: 32px;
  }

  .menu-icon-item {
    width: 36px;
    height: 36px;
  }

  .menu-icon-nav {
    width: 36px;
    height: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .tab-menu {
    display: none;
  }
}


  .current {
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .current:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    background-color: #404bbf;
    border-radius: 50%;

  }
