.reviews {
  width: 100%;
  padding: 30px 0;
}
.reviews-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}

.reviews-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}
.review-list {
  display: flex;
}
.review-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 32px 36px;
  max-width: 335px;
}
.review-item-image {
  margin-bottom: 24px;
  width: 56px;
  height: 56px;
}
.review-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 263px;
}

.review-item-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}
.review-item-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}
.victoria,
.anastasia {
  display: none;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding: 40px 0;
  }
  .reviews-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
  }
  .review-card {
    width: 272px;
  }
  .review-list-item {
    width: 344px;
  }
  .victoria {
    display: flex;
  }
  .review-list {
    gap: 16px;
  }
  .review-item-heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
  }
  .review-item-text {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1280px) {
  .reviews {
    padding: 50px 0;
  }
  .reviews-cont {
    min-width: 1150;
  }
  .review-list {
    gap: 20px;
  }
  .review-list-item {
    min-width: 370px;
  }
  .review-card {
    width: 298px;
  }
  .anastasia {
    display: flex;
  }
}
